<div class="card mx-auto mt-5 p-4" style="max-width: 400px;">
  <h2 class="text-center mb-3">Login to Privia</h2>

  <form action="/users/login" method="POST">
    <input class="form-control mb-2" type="email" name="username" placeholder="Email" required>
    <input class="form-control mb-2" type="password" name="password" placeholder="Password" required>

    <button class="btn btn-primary w-100">Login</button>
  </form>

  <a href="/users/register" class="d-block text-center mt-2">Create account</a>
</div>